<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'mainapp:home'  %}">Main App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'mainapp:home'  %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mainapp:login'  %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mainapp:signup'  %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mainapp:logout'  %}">Logout</a>
      </li>
    {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'useritems:mycart'  %}">My Collections</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'trading:allcarts'  %}">List of users and there cards</a>
      </li>
      {% endif %}
    </ul>
    <form class="navbar-form navbar-left" action="{% url 'mainapp:listofcards'  %}" method="GET">
        <div class="form-group">
          <input type="text" name="q" id="search_bar" placeholder="Search cards here" value="{{request.GET.q}}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
</nav>
 
  </div>
</nav>