{% extends "base.html" %}
{% block head_title %}Cart{% endblock head_title %}   
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1>Your Cart: </h1>
        
                {% for item  in cart.cartitem_set.all %}
                <table class="table">
            <ul>
                  <td>{{item.items.name}}</td> 
                  <td><img src="{{item.items.image}}" alt="{{item.items.name}}"></td>
                  <td>{{item.quantity}}</td>
                  <td>
                  <form action="{% url 'useritems:mycart' %}" method="GET"> 
                    <input type="hidden" name="item" value="{{item.items.id}}">
                    <input type="number" name="qty" value="{{item.quantity}}">
                    <input type="submit" class="btn btn-warning" value="Update Item">
                </form>
                </td>
         </ul>
        </table>
                {% endfor %}
       

    </div>
</div>


{% endblock content%}